_FileInformation.txt
merlin32/bitmap/bin/png2raw/bin/
merlin32/bitmap/bin/png2raw/obj/
*.lst
*.pgz_Output.txt
merlin32/tilemap/data/ehonda_floor.filelist.txt
merlin32/tilemap/data/ehonda_floor.Untitled 2.layer-Layer 1.map001.stm
merlin32/tilemap/data/ehonda_floor.Untitled 4.layer-Layer 1.map001.stm
*.vpj
*.vpw
*.vtg
*.vpwhist
merlin32/modojr/bin/makefont/bin/
merlin32/modojr/bin/makefont/obj/
art/
backup/
fonts/
jr_fpga/
*.vpwhistxml
merlin32/frisbee/bin/makefont/obj/
merlin32/frisbee/bin/makefont/bin/
*_Output.txt
